
@{
    ViewBag.Title = "search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Content/Pages/mvcdemo.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>


<h2>TRISHUL</h2>
<br />
<label id="lblid"></label>
<br />

<br />
<label class="text-capitalize">NAME</label>
<br />
<input type="text" class="form-control" id="txtname" />
<br />
<label>MOBILE NO</label>
<br />
<input type="text" class="form-control" id="txtmob" />
<br />
<label>EMAIL ID</label>
<br />
<input type="text" class="form-control" id="txtemail" />
<br />


<input type="button" id="btnsubmit" class="btn btn-success" value="submit" onclick="savemvcdemo()" />

<input type="button" id="btnclear" class="btn-lg btn-danger" value="clear" onclick="ClearData()" />
<br />
<br />





<table id="tbl_mvcdemo" class="container" border="1">
    <thead>
    <th>NAME</th>
    <th>EMAIL</th>
    <th>MOBILE_NO</th>


    </thead>
    <tbody></tbody>
</table>
<script>

</script>



