 
@{
    ViewBag.Title = "Index";
}

<script src="~/Content/Pages/jquery-1.11.1.min.js"></script>
<script src="~/Content/Pages/IMG.js"></script>

<h2>Index</h2>
<br />
<br />
<input type="text" id="txtiid"
<br />
<label>NAME</label>
<br />
<input type="text" id="txtname" />
<br />
<label>photo</label>
<br />
<input type="file" id="file1" />
<br />
<input type="button" value="SUBMIT" onclick="saveimg()" id="btnsubmit" />
<br />
<table id="TBL_IMG" class="tab-content" border="1">
    <thead>
    <th>NAME</th>
    <th>img</th>
    </thead>
    <tbody></tbody>
</table>

